<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ASPI | Login</title>

	<link th:href="@{/login-assets/images/favicon.ico}" rel="icon" type="image/x-icon" />

	<!-- Global stylesheets -->
	<link th:href="@{/login-assets/fonts/inter/inter.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/login-assets/icons/phosphor/styles.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/login-assets/css/all.min.css}" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script th:src="@{/login-assets/js/jquery/jquery.min.js}"></script>
	<script th:src="@{/login-assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script th:src="@{/login-assets/js/app.js}"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

					<a class="basePath" th:href="@{/}"></a>

					<!-- Login form -->
					<div class="main-form-container">
						<form id="login-form" class="login-form" role="form" th:action="@{/login}" method="post" autocomplete="off">
							<div class="card mb-0">
								<div class="card-body">
									<div class="text-center mb-3">
										<div class="d-inline-flex align-items-center justify-content-center mb-2 mt-2">
											<img th:src="@{/login-assets/images/aspi_black.png}" class="h-48px" alt="">
											<!-- <h1 class="m-0 p-0">ASPI</h1> -->
										</div>
										<h5 class="mb-0">Login to your account</h5>
										<span class="d-block text-muted">Enter your credentials below</span>

										<p th:if="${errorMessage}" class="text-center text-danger mt-2" th:text="${errorMessage}">Invalid Credentials</p>

										<div th:if="${param.error}" class="error-message-container d-none text-danger m-2 text-center">Wrong credential</div>
										<div th:if="${param.logout}" class="error-message-container d-none text-success m-2 text-center">You have been logged out</div>
										<div class="error-message-container d-none text-danger m-2 text-center">You have been logged out</div>
									</div>
	
									<div class="mb-3">
										<label class="form-label">Username</label>
										<div class="form-control-feedback form-control-feedback-start">
											<input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off">
											<div class="form-control-feedback-icon">
												<i class="ph-user-circle text-muted"></i>
											</div>
										</div>
									</div>
	
									<div class="mb-3">
										<label class="form-label">Password</label>
										<div class="form-control-feedback form-control-feedback-start">
											<input type="password" class="form-control" name="password" id="password" placeholder="•••••••••••" autocomplete="off">
											<div class="form-control-feedback-icon">
												<i class="ph-lock text-muted"></i>
											</div>
										</div>
									</div>
	
									<div class="mb-3">
										<button type="submit" class="btn btn-primary w-100">Sign in</button>
									</div>

									<div class="mb-3 text-center" style="font-size: 10px;">
										<span th:text="${'Version - ' + appVersion}"></span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- /login form -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>






















	