<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-header d-sm-flex align-items-sm-center p-0">
			<button th:if="${imadjheader.xadjnum ne null}" th:attr="data-url=@{/report/print}, data-param2=${imadjheader.xadjnum}, data-rptcode='imadj'" type="button" class="btn btn-light btn-sm btn-print my-2 ms-3"><i class="ph-printer me-2"></i> Print</button>
			<button th:if="${imadjheader.xadjnum ne null and imadjheader.xstatus eq 'Open' and imadjheader.xstatusim eq 'Open'}" th:attr="data-url=@{/IM15/confirm?xadjnum=} + ${imadjheader.xadjnum}" type="button" class="btn btn-primary btn-sm btn-confirm my-2 ms-3"><i class="ph-check me-2"></i> Confirm Adjustment</button>
		</div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/IM15/store}" th:object="${imadjheader}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${imadjheader.xadjnum ne null}" th:field="*{xadjnum}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Adjustment No.</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xadjnum"
										th:value="${imadjheader.xadjnum ne null ? imadjheader.xadjnum : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LIM15/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xadjnum',
										data-mainscreen=true,
										data-mainreloadurl='/IM15?xadjnum=',
										data-mainreloadid='main-form-container',
										data-detailreloadurl='/IM15/detail-table?xrow=RESET&xadjnum=',
										data-detailreloadid='detail-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Adjustment Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="xdate" 
										id="xdate" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required
										th:value="${imadjheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(imadjheader.xdate, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Business Unit</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xbuid"
										th:value="${imadjheader.xbuid != null ? imadjheader.xbuid + ' - ' + imadjheader.businessUnitName : ''}">
								<input 	type="hidden" class="search-val" name="xbuid" th:value="*{xbuid}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LAD17/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xbuid',
										data-mainscreen=false" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Store/Warehouse</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xwh"
										th:value="${imadjheader.xwh != null ? imadjheader.xwh + ' - ' + imadjheader.warehouseName : ''}">
								<input 	type="hidden" class="search-val" name="xwh" th:value="*{xwh}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD11/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xwh',
										data-mainscreen=false" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Reference</label>
							<input type="text" class="form-control" th:field="*{xref}">
						</div>
					</div>
					<div class="col-md-3" th:if="${imadjheader.xadjnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Status</label>
							<input type="text" class="form-control" th:value="*{xstatus}" disabled>
						</div>
					</div>
					<div class="col-md-3" th:if="${imadjheader.xadjnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Inventory Status</label>
							<input type="text" class="form-control" th:value="*{xstatusim}" disabled>
						</div>
					</div>
					<div class="col-md-3" th:if="${imadjheader.xadjnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">GL Status</label>
							<input type="text" class="form-control" th:value="*{xstatusjv}" disabled>
						</div>
					</div>
					<div class="col-md-3" th:if="${imadjheader.xadjnum ne null and imadjheader.xstatusjv eq 'Confirmed'}">
						<div class="mb-3 form-group">
							<label class="form-label">GL Voucher</label>
							<a 	href="#" 
								th:attr="data-screen='FA17?xvoucher=' + ${imadjheader.xvoucher}" 
								class="screen-item form-control" 
								th:text="${imadjheader.xvoucher}">
							</a>
						</div>
					</div>
					<div class="col-md-3" th:if="${imadjheader.xadjnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Total Amount</label>
							<input type="text" class="form-control" th:value="*{xtotamt}" disabled>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Note</label>
							<textarea cols="" rows="1" class="form-control" th:field="*{xnote}"></textarea>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/IM15?xadjnum=RESET' , data-reloadid='main-form-container', data-detailreloadurl='/IM15/detail-table?xadjnum=RESET&xrow=RESET', data-detailreloadid='detail-table-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${imadjheader.xadjnum ne null and imadjheader.xstatus eq 'Open'}" th:attr="data-url=@{/IM15?xadjnum=} + ${imadjheader.xadjnum}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${imadjheader.xadjnum ne null and imadjheader.xstatus eq 'Open'}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${imadjheader.xadjnum eq null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>

	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('detailreloadid'),
					url : $(this).data('detailreloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('.btn-confirm').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure?")){
					return;
				}
				actionPostRequest($(this).data('url'));
			});
		})
	</script>
</div>




<div th:fragment="detail-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${imadjheader.xadjnum ne null}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto" th:text="${pageTitle + ' Details'}"></h6>
		</div>

		<div class="card-body" th:if="${imadjheader.xstatus eq 'Open'}">
			<form id="detailform" class="form-validate-jquery" th:action="@{/IM15/detail/store}" th:object="${imadjdetail}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" name="submitFor" th:value="*{submitFor}"/>
				<input type="hidden" name="xadjnum" th:value="*{xadjnum}">
				<input type="hidden" name="xrow" th:value="*{xrow}">
				<input type="hidden" th:if="${imadjdetail.xrow ne 0}" th:field="*{xitem}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Item</label>
							<input th:if="${imadjdetail.xrow ne 0}" class="form-control" type="text" th:value="${imadjdetail.xitem ne null ? imadjdetail.xitem + ' - ' + imadjdetail.itemName : ''}" disabled>
							<div class="input-group" th:if="${imadjdetail.xrow eq 0}">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xitem"
										th:value="${imadjdetail.xitem ne null ? imadjdetail.xitem + ' - ' + imadjdetail.itemName : ''}">
								<input 	type="hidden" class="search-val" name="xitem" th:value="*{xitem}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD12/1?hint=',  
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xitem',
										data-mainscreen=true,
										data-mainreloadurl='/IM15/detail-table?xadjnum='+ ${imadjdetail.xadjnum} +'&xrow='+ ${imadjdetail.xrow} +'&xitem=',
										data-mainreloadid='detail-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Unit</label>
							<input type="text" class="form-control" th:value="*{xunit}" disabled="disabled">
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Quantity</label>
							<input type="number" class="form-control numeric-only" th:field="*{xqty}" min="0" required="required">
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Adjustment Type</label>
							<select class="form-control select" th:field="*{xsign}" required="required">
								<option value="">-- Select --</option>
								<option value="1">Debit</option>
								<option value="-1">Credit</option>
							</select>
						</div>
					</div>

					<div class="col-md-3" th:if="${imadjdetail.xrow ne 0}">
						<div class="mb-3 form-group">
							<label class="form-label">Rate</label>
							<input type="number" class="form-control numeric-only" th:value="*{xrate}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${imadjdetail.xrow ne 0}">
						<div class="mb-3 form-group">
							<label class="form-label">Line Amount</label>
							<input type="number" class="form-control numeric-only" th:value="*{xlineamt}" disabled="disabled">
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Note</label>
							<textarea cols="" rows="1" class="form-control" th:field="*{xnote}"></textarea>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/IM15/detail-table?xadjnum='+ ${imadjdetail.xadjnum} +'&xrow=RESET', data-reloadid='detail-table-container'" class="btn btn-light btn-sm btn-detail-reset">Clear</button>
					</div>
					<div>
						<button th:if="${imadjdetail.xrow ne 0}" th:attr="data-url=@{/IM15/detail-table?xadjnum=} + ${imadjdetail.xadjnum} + '&xrow=' + ${imadjdetail.xrow}" type="button" class="btn btn-danger btn-sm btn-detail-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${imadjdetail.xrow eq 0}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-plus me-2"></i> Add New</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(detailList)}">
			<table class="table">
				<thead>
					<tr>
						<th>Item</th>
						<th>Unit</th>
						<th>Quantity</th>
						<th>Adjustment Type</th>
						<th>Rate</th>
						<th>Line Amount</th>
						<th>Note</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${detailList}">
						<td>
							<a class="detail-dataindex" th:attr="data-reloadid='detail-table-container', data-reloadurl='/IM15/detail-table?xadjnum=' + ${x.xadjnum} + '&xrow=' + ${x.xrow} + '&xitem=' + ${x.xitem}" th:href="@{/IM15/detail-table?xadjnum=} + ${x.xadjnum} + '&xrow=' + ${x.xrow} + '&xitem=' + ${x.xitem}" th:text="${x.xitem + ' - ' + x.itemName}"></a>
						</td>
						<td th:text="${x.xunit}"></td>
						<td th:text="${x.xqty}"></td>
						<td th:text="${x.xsign eq 1 ? 'Debit' : 'Credit'}"></td>
						<td th:text="${x.xrate}"></td>
						<td th:text="${x.xlineamt}"></td>
						<td th:text="${x.xnote}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-detail-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-detail-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#detailform'));
			});

			$('.btn-detail-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>