<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<!-- Module Selection area -->
	<div class="row justify-content-center align-items-center">

		<h4 class="text-center"></h4>

		<div class="col-sm-6 col-xl-3" th:each="master : ${masterMenus}" th:if="${not (#lists.isEmpty(master.screens) and #lists.isEmpty(master.subMenus))}">
			<a class="p-1 pt-2 pb-2 module-menu-button card card-body bg-primary text-white align-items-center" href="#" th:attr="data-menucode=${master.menuCode}">
				<i class="fs-1 mb-2" th:classappend="${#strings.isEmpty(master.menuIcon) ? 'ph-house' : master.menuIcon}"></i>
				<h6 th:text="${master.menuTitle}" class="m-0 p-0"></h6>
			</a>
		</div>

	</div>
	<!-- /Module Selection area -->

	<script type="text/javascript">
		$(document).ready(function(){
			$('.module-menu-button').off('click').on('click', function(e){
				e.preventDefault();

				var menucode = $(this).data('menucode');

				var url = '/home?menucode=' + menucode;

				sectionReloadAjaxReq({
					id : 'main-form-container',
					url : url
				});
			})
		})
	</script>
</div>


<div th:fragment="screen-form" xmlns:th="http://www.thymeleaf.org">
	<!-- Module Selection area -->
	<div th:each="master : ${menuscreens}">
		<a href="" class="btn btn-primary btn-sm module-menu-button" th:attr="data-menucode=${master.parentCode}"><i class="ph-arrow-fat-line-left me-2"></i> Back</a>

		<div class="row justify-content-center align-items-center">

			<h4 class="text-center" th:if="${not #lists.isEmpty(master.screens)}"></h4>
			<div class="col-sm-6 col-xl-3" th:each="screen : ${master.screens}">
				<a class="p-1 pt-2 pb-2 screen-item card card-body bg-info text-white align-items-center" href="#" th:attr="data-screen=${screen.xscreen}">
					<i class="fs-1 mb-2" th:classappend="${#strings.isEmpty(screen.xicon) ? 'ph-house' : screen.xicon}"></i>
					<h6 th:text="${screen.xtitle}" class="m-0 p-0"></h6>
				</a>
			</div>

			<h4 class="text-center mt-3" th:if="${not #lists.isEmpty(master.subMenus)}"></h4>
			<div class="col-sm-6 col-xl-3" th:each="sub : ${master.subMenus}">
				<a class="p-1 pt-2 pb-2 module-menu-button card card-body bg-primary text-white align-items-center" href="#" th:attr="data-menucode=${sub.menuCode}">
					<i class="fs-1 mb-2" th:classappend="${#strings.isEmpty(sub.menuIcon) ? 'ph-house' : sub.menuIcon}"></i>
					<h6 th:text="${sub.menuTitle}" class="m-0 p-0"></h6>
				</a>
			</div>

		</div>
	</div>
	<!-- /Module Selection area -->

	<script type="text/javascript">
		$(document).ready(function(){
			$('.module-menu-button').off('click').on('click', function(e){
				e.preventDefault();

				var menucode = $(this).data('menucode');

				var url = '/home?menucode=' + menucode;

				sectionReloadAjaxReq({
					id : 'main-form-container',
					url : url
				});
			})
		})
	</script>
</div>
