<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-header d-sm-flex align-items-sm-center p-0">
			<h2 class="m-0 p-0 ms-3 me-3 my-2" th:text="${'Level - ' + acgroup.xaglevel}"></h2>
			<button th:attr="data-reloadurl='/FA12?xagcode='+ ${acgroup.xagparent} +'&xagparent=RESET', data-reloadid='main-form-container', data-xaglevel=${acgroup.xaglevel - 1}, data-xagparent=${acgroup.againParent}" th:if="${acgroup.xaglevel ne 1 and acgroup.xagparent ne null}" class="btn btn-primary btn-sm btn-navigation my-2 ms-3"><i class="ph-arrow-fat-lines-left me-2"></i> <span th:text="${'Back to Level ' + (acgroup.xaglevel - 1)}"></span></button>
			<button th:attr="data-reloadurl='/FA12?xagcode=RESET&xagparent=' + ${acgroup.xagcode}, data-reloadid='main-form-container', data-xaglevel=${acgroup.xaglevel + 1}, data-xagparent=${acgroup.xagcode}" th:if="${acgroup.xagcode ne null}" class="btn btn-primary btn-sm btn-navigation my-2 ms-3"><i class="ph-arrow-fat-lines-right me-2"></i> <span th:text="${'Go to Level ' + (acgroup.xaglevel + 1)}"></span></button>
		</div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/FA12/store}" th:object="${acgroup}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xaglevel}"/>
				<input type="hidden" th:if="${acgroup.xagcode ne null}" th:field="*{xagcode}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Group Code</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xagcode"
										th:value="${acgroup.xagcode ne null ? acgroup.xagcode : ''}"
										th:disabled="${acgroup.xagcode != null}"
										th:required="${acgroup.xagcode == null}">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LFA12/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xagcode',
										data-mainscreen=true,
										data-mainreloadurl='/FA12?xagparent='+ ${acgroup.xagparent == null ? 'RESET' : acgroup.xagparent} +'&xagcode=',
										data-mainreloadid='main-form-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Group Name</label>
							<input type="text" class="form-control" th:field="*{xagname}" required>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Group Type</label>
							<select th:if="${acgroup.xaglevel eq 1 and acgroup.xagcode eq null}" class="form-control select" th:field="*{xagtype}" required>
								<option value="">-- Select --</option>
								<option value="Asset">Asset</option>
								<option value="Liability">Liability</option>
								<option value="Income">Income</option>
								<option value="Expenditure">Expenditure</option>
							</select>
							<input type="text" class="form-control" th:if="${acgroup.xaglevel ne 1 or acgroup.xagcode ne null}" th:value="*{xagtype}" disabled>
							<input type="hidden" class="form-control" th:if="${acgroup.xaglevel ne 1 or acgroup.xagcode ne null}" th:field="*{xagtype}">
						</div>
					</div>
					<div class="col-md-3" th:if="${acgroup.xaglevel ne 1}">
						<div class="mb-3 form-group">
							<label class="form-label required">Parent Group</label>
							<input type="text" class="form-control" th:value="${acgroup.xagparent + ' - ' + acgroup.parentName}" disabled>
							<input type="hidden" class="form-control" th:field="*{xagparent}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/FA12?xagcode=RESET&xagparent=' + ${acgroup.xaglevel == 1 ? 'RESET' : acgroup.xagparent} , data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${acgroup.xagcode ne null}" th:attr="data-url=@{/FA12?xagcode=} + ${acgroup.xagcode}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${acgroup.xagcode ne null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${acgroup.xagcode eq null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-navigation').off('click').on('click', function(e){
				e.preventDefault();

				var xaglevel = $(this).data('xaglevel');
				var xagparent = $(this).data('xagparent');
				if(xagparent == undefined || xagparent == null) xagparent = '';

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxPostReq({
					id : 'list-table-container',
					url : '/search/table/LFA12/1?dependentparam=' + xaglevel + ',' + xagparent
				}, {
					mainscreen: true, 
					mainreloadurl: '/FA12?xagparent=RESET&xagcode=',
					mainreloadid: 'main-form-container',
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

		})
	</script>
</div>


<div th:fragment="list-table" xmlns:th="http://www.thymeleaf.org">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			kit.ui.init();

			var xaglevel = /*[[${acgroup.xaglevel}]]*/;
			var xagparent = /*[[${acgroup.xagparent}]]*/;

			sectionReloadAjaxPostReq({
				id : 'list-table-container',
				url : '/search/table/LFA12/1?dependentparam=' + xaglevel + ',' + xagparent
			}, {
				mainscreen: true, 
				mainreloadurl: '/FA12?xagparent=RESET&xagcode=',
				mainreloadid: 'main-form-container',
			});
		})
	</script>
</div>