<!-- Inner content -->
<div class="content-inner" xmlns:th="http://www.thymeleaf.org">

	<!-- Content area -->
	<div class="content d-flex justify-content-center align-items-center">

		<!-- Container -->
		<div class="flex-fill">

			<!-- Error title -->
			<div class="text-center mb-4">
				<img th:src="@{/assets/images/error_bg.svg}" class="img-fluid mb-3" height="230" alt="">
				<h1 class="display-3 fw-semibold lh-1 mb-3" th:text="${status}">401</h1>
				<h2 class="w-md-25 mx-md-auto" th:text="${error}"></h2>
				<!-- <h6 class="w-md-25 mx-md-auto" th:if="${not #strings.isEmpty(message)}" th:text="${message}"></h6> -->
			</div>
			<!-- /error title -->


			<!-- Error content -->
			<div class="text-center">
				<a th:href="@{/home}" class="btn btn-primary screen-item" data-screen="home">
					<i class="ph-house me-2"></i>
					Return to Home
				</a>
			</div>
			<!-- /error wrapper -->

		</div>
		<!-- /container -->

	</div>
	<!-- /content area -->

</div>
<!-- /inner content -->