<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-header d-sm-flex align-items-sm-center p-0">
			<button th:if="${pogrnheader.xgrnnum ne null}" th:attr="data-url=@{/report/print}, data-param2=${pogrnheader.xgrnnum}, data-rptcode='pogrn'" type="button" class="btn btn-light btn-sm btn-print my-2 ms-3"><i class="ph-printer me-2"></i> Print GRN</button>
			<button th:if="${pogrnheader.xgrnnum ne null}" th:attr="data-url=@{/report/print}, data-param2=${pogrnheader.xcus}, data-param3=${pogrnheader.xinvnum}, data-rptcode='pogrnbill'" type="button" class="btn btn-light btn-sm btn-print my-2 ms-3"><i class="ph-printer me-2"></i> Print Bill</button>
			<button th:if="${pogrnheader.xgrnnum ne null and pogrnheader.xstatus eq 'Open' and pogrnheader.xstatusim eq 'Open'}" th:attr="data-url=@{/PO15/confirm?xgrnnum=} + ${pogrnheader.xgrnnum}" type="button" class="btn btn-primary btn-sm btn-confirm my-2 ms-3"><i class="ph-check me-2"></i> Confirm</button>
		</div>

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/PO15/store}" th:object="${pogrnheader}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${pogrnheader.xgrnnum ne null}" th:field="*{xgrnnum}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">GRN Number</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xgrnnum"
										th:value="${pogrnheader.xgrnnum ne null ? pogrnheader.xgrnnum : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LPO14/4?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xgrnnum',
										data-mainscreen=true,
										data-mainreloadurl='/PO15?xgrnnum=',
										data-mainreloadid='main-form-container',
										data-detailreloadurl='/PO15/detail-table?xrow=RESET&xgrnnum=',
										data-detailreloadid='detail-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label required">Date</label>
							<div class="input-group">
								<input 	type="text" 
										name="xdate" 
										id="xdate" 
										class="form-control datepicker-date-format" 
										placeholder="yyyy-mm-dd format" 
										required
										th:value="${pogrnheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(pogrnheader.xdate, df)}">
								<span class="input-group-text">
									<i class="ph-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label required">Business Unit</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xbuid"
										th:value="${pogrnheader.xbuid != null ? pogrnheader.xbuid + ' - ' + pogrnheader.businessUnitName : ''}">
								<input 	type="hidden" class="search-val" name="xbuid" th:value="*{xbuid}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LAD17/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xbuid',
										data-mainscreen=false" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Supplier</label>
							<input type="text" class="form-control" th:value="${pogrnheader.xcus ne null ? pogrnheader.xcus + ' - ' + pogrnheader.supplierName : ''}" disabled>
						</div>
					</div>
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label required">Store/Warehouse</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xwh"
										th:value="${pogrnheader.xwh != null ? pogrnheader.xwh + ' - ' + pogrnheader.warehouseName : ''}">
								<input 	type="hidden" class="search-val" name="xwh" th:value="*{xwh}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD11/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xwh',
										data-mainscreen=false" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Reference</label>
							<input type="text" class="form-control" th:field="*{xref}">
						</div>
					</div>
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Order No.</label>
							<input type="text" class="form-control" th:value="*{xpornum}" disabled="disabled">
						</div>
					</div>
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Total Amount</label>
							<input type="number" class="form-control numeric-only" th:value="*{xtotamt}" disabled>
						</div>
					</div>
					
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label required">Supplier Bill No.</label>
							<input type="text" class="form-control" th:field="*{xinvnum}" required="required">
						</div>
					</div>

					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Status</label>
							<input type="text" class="form-control" th:value="*{xstatus}" disabled>
						</div>
					</div>
					
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Inventory Status</label>
							<input type="text" class="form-control" th:value="*{xstatusim}" disabled>
						</div>
					</div>
					
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">GL Status</label>
							<input type="text" class="form-control" th:value="*{xstatusjv}" disabled>
						</div>
					</div>
					
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null and pogrnheader.xstatusjv eq 'Confirmed'}">
						<div class="mb-3 form-group">
							<label class="form-label">GL Voucher</label>
							<input type="text" th:if="${pogrnheader.xvoucher eq null}" class="form-control" disabled>
							<a 	href="#" 
								th:if="${pogrnheader.xvoucher ne null}" 
								th:attr="data-screen='FA17?xvoucher=' + ${pogrnheader.xvoucher}" 
								class="screen-item form-control" 
								th:text="${pogrnheader.xvoucher}">
							</a>
						</div>
					</div>
					<div class="col-md-3" th:if="${pogrnheader.xgrnnum ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Note</label>
							<textarea cols="" rows="1" class="form-control" th:field="*{xnote}"></textarea>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/PO15?xgrnnum=RESET' , data-reloadid='main-form-container', data-detailreloadurl='/PO15/detail-table?xgrnnum=RESET&xrow=RESET', data-detailreloadid='detail-table-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${pogrnheader.xgrnnum ne null and pogrnheader.xstatus eq 'Open'}" th:attr="data-url=@{/PO15?xgrnnum=} + ${pogrnheader.xgrnnum}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${pogrnheader.xgrnnum ne null and pogrnheader.xstatus eq 'Open'}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
					</div>
				</div>
			</form>
		</div>

	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('detailreloadid'),
					url : $(this).data('detailreloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('.btn-confirm').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure?")){
					return;
				}
				actionPostRequest($(this).data('url'));
			});
		})
	</script>
</div>




<div th:fragment="detail-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${pogrnheader.xgrnnum ne null}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto" th:text="${pageTitle + ' Details'}"></h6>
		</div>

		<div class="card-body" th:if="${pogrnheader.xstatus eq 'Open'}">
			<form id="detailform" class="form-validate-jquery" th:action="@{/PO15/detail/store}" th:object="${pogrndetail}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" name="submitFor" th:value="*{submitFor}"/>
				<input type="hidden" name="xgrnnum" th:value="*{xgrnnum}">
				<input type="hidden" name="xrow" th:value="*{xrow}">
				<input type="hidden" th:if="${pogrndetail.xrow ne 0}" th:field="*{xitem}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label required">Item</label>
							<input th:if="${pogrndetail.xrow ne 0}" class="form-control" type="text" th:value="${pogrndetail.xitem ne null ? pogrndetail.xitem + ' - ' + pogrndetail.itemName : ''}" disabled>
							<div class="input-group" th:if="${pogrndetail.xrow eq 0}">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xitem"
										th:value="${pogrndetail.xitem ne null ? pogrndetail.xitem + ' - ' + pogrndetail.itemName : ''}">
								<input 	type="hidden" class="search-val" name="xitem" th:value="*{xitem}" required/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD12/3?hint=',  
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xitem',
										data-mainscreen=true,
										data-mainreloadurl='/PO15/detail-table?xgrnnum='+ ${pogrndetail.xgrnnum} +'&xrow='+ ${pogrndetail.xrow} +'&xitem=',
										data-mainreloadid='detail-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>

					<div class="col-md-3" th:if="${pogrndetail.xitem ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Unit</label>
							<input type="text" class="form-control" th:value="*{xunit}" disabled="disabled">
						</div>
					</div>

					<div class="col-md-3" th:if="${pogrndetail.xitem ne null}">
						<div class="mb-3 form-group">
							<label class="form-label required">Quantity</label>
							<input type="number" class="form-control numeric-only" th:field="*{xqty}" required="required">
						</div>
					</div>
					
					<div class="col-md-3" th:if="${pogrndetail.xitem ne null}">
						<div class="mb-3 form-group">
							<label class="form-label required">Rate</label>
							<input type="number" class="form-control numeric-only" th:field="*{xrate}" required="required">
						</div>
					</div>

					<div class="col-md-3" th:if="${pogrndetail.xrow ne 0}">
						<div class="mb-3 form-group">
							<label class="form-label">Line Amount</label>
							<input type="number" class="form-control numeric-only" th:value="*{xlineamt}" disabled="disabled">
						</div>
					</div>

					<div class="col-md-3" th:if="${pogrndetail.xitem ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Note</label>
							<textarea cols="" rows="1" class="form-control" th:field="*{xnote}"></textarea>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/PO15/detail-table?xgrnnum='+ ${pogrndetail.xgrnnum} +'&xrow=RESET', data-reloadid='detail-table-container'" class="btn btn-light btn-sm btn-detail-reset">Clear</button>
					</div>
					<div>
						<button th:if="${pogrndetail.xrow ne 0 and pogrndetail.xdocrow eq 0}" th:attr="data-url=@{/PO15/detail-table?xgrnnum=} + ${pogrndetail.xgrnnum} + '&xrow=' + ${pogrndetail.xrow}" type="button" class="btn btn-danger btn-sm btn-detail-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${pogrndetail.xrow ne 0 and pogrndetail.xdocrow ne 0}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${pogrndetail.xrow eq 0}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-plus me-2"></i> Add New</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(detailList)}">
			<table class="table">
				<thead>
					<tr>
						<th>Item</th>
						<th>Unit</th>
						<th>Quantity</th>
						<th>Rate</th>
						<th>Line Amount</th>
						<th>Order Quantity</th>
						<th>Return Quantity</th>
						<th>Note</th>
						<th th:if="${pogrnheader.xstatus eq 'Open'}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${detailList}">
						<td>
							<a class="detail-dataindex" th:attr="data-reloadid='detail-table-container', data-reloadurl='/PO15/detail-table?xgrnnum=' + ${x.xgrnnum} + '&xrow=' + ${x.xrow} + '&xitem=' + ${x.xitem}" th:href="@{/PO15/detail-table?xgrnnum=} + ${x.xgrnnum} + '&xrow=' + ${x.xrow} + '&xitem=' + ${x.xitem}" th:text="${x.xitem + ' - ' + x.itemName}"></a>
						</td>
						<td th:text="${x.xunit}"></td>
						<td th:text="${x.xqty}"></td>
						<td th:text="${x.xrate}"></td>
						<td th:text="${x.xlineamt}"></td>
						<td th:text="${x.xqtyord}"></td>
						<td th:text="${x.xqtycrn}"></td>
						<td th:text="${x.xnote}"></td>
						<td th:if="${pogrnheader.xstatus eq 'Open'}" class="text-end">
							<button th:if="${x.xrow ne 0 and x.xdocrow eq 0}" th:attr="data-url=@{/PO15/detail-table?xgrnnum=} + ${x.xgrnnum} + '&xrow=' + ${x.xrow}" type="button" class="btn btn-danger btn-sm btn-detail-delete"><i class="ph-trash"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-detail-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-detail-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#detailform'));
			});

			$('.btn-detail-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>