<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Report Files</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">Report Files List</h1>

					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Files</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item, no : ${xslFiles}">
								<td>
									<a th:href="@{/developer/reportfiles/download/} + ${item.fileName} + '?passwd=' + ${passwd}" th:text="${no.count} + '. ' +${item.code}" target="_blank"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>